<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>

    <Loggers>

        <logger name="jdbc.sqlonly" level="debug" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="clikmonitor.nanet.go.kr.restcontroller" level="debug" >
            <AppenderRef ref="console" />
        </logger>

        <root level="info">
        </root>

    </Loggers>
</Configuration>