/* 폰트 설정 */
@font-face {font-family: "NotoSansCJKkr";src: url('../font/NotoSans-Regular.eot');src: url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'), url('../font/NotoSans-Regular.otf') format('opentype'), url('../font/NotoSans-Regular.woff') format('woff');}
@font-face {font-family: "NotoSansCJKkrMedium";src: url('../font/NotoSans-Medium.eot');src: url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'), url('../font/NotoSans-Medium.otf') format('opentype'), url('../font/NotoSans-Medium.woff') format('woff');}
@font-face {font-family: "NotoSansCJKkrDemiLight";src: url('../font/NotoSans-DemiLight.eot');src: url('../font/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'), url('../font/NotoSans-DemiLight.otf') format('opentype'), url('../font/NotoSans-DemiLight.woff') format('woff');}

/* reset start */
body,html { width: 100%; height: 100%;}
body { font-family: "NotoSansCJKkr", "NotoSansCJKkrMedium", "NotoSansCJKkrDemiLight", "dotum", "돋움"; font-size: 12px; font-weight: normal;line-height: 12px;letter-spacing: 0;color: #333; background-image: url("/img/pattern.jpg");background-repeat: repeat;}
body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,table,td,textarea,th,tr,ul {margin: 0px;padding: 0;}
label {cursor: pointer;float: left;margin-left: 6px;font-size: 14px;line-height: 14px;color: #fff;}
input,select {font-family: "NotoSansCJKkrDemiLight","NotoSansCJKkr", "NotoSansCJKkrMedium", "dotum";}
li,ol,ul {list-style: none;}
fieldset,img {border: none;}
a {text-decoration: none;}
a:active,a:focus,a:hover {text-decoration: none;}
th {font-weight: normal;}
em {font-style: normal;}
pre {padding-top: 5px;}
table {border: 0 none;border-collapse: collapse;border-spacing: 0;margin: 0;padding: 0;}
td {text-align: left;}
caption,legend {display: none;font-size: 1px;height: 1px;overflow: hidden;position: absolute;text-indent: -1px;visibility: hidden; width: 1px;}
button {cursor: pointer;}
/* reset end */

/* style start */

/* 메인화면 헤더 왼쪽 */
.main-menu-left { margin: 0; padding: 0; width: 80%}
.main-menu-left a img{ float: left; margin: 0 10px;}
.main-menu-left ul { display: block; float: left; z-index: 1; overflow: hidden;background: #222;width: 545px; background: #000;}
.main-menu-left ul li { float: left; width: 20%; height: 60px;}
.main-menu-left ul li a { display: block; width: 100%; text-align: center; font-size: 18px; line-height: 60px; background: #000; color: #fff;}
.main-menu-left ul li a:hover { background: #080808; color: #fff;}

/* 메인화면 헤더 오른쪽 */
.main-menu-right { float: right; height: 30px; margin-right: 25px;}
.main-menu-right span { color:white; float: left; margin:20px; font-weight: bold;}
.main-menu-right a button{ width:100px; height: 45px; margin: 5px; font-weight: bold;}
.main-search-button { width: 211px; height: 35px; background: #777; color: #fff; border: none;}

/* 푸터 */
footer { position: relative; background: #000; height: 4.9em; margin-top: 4.9em;}
footer p { position: absolute; bottom: 26px; left: 45% }

/* 공통 */
.d-btn-sz { width: 100%; height: 80px;}
.s-btn-sz { width: 100px; height: 76px;}
.l-btn-sz { width: 400px; height: 80px;}
.mr-5 {margin-right: 5px;}
.ml-5 {margin-left: 5px;}
.fl {float: left;}
.fr {float: right;}
.hover { color: white !important;}
.active {border: 1px solid #fff;}
.active a {color: #fff !important;}
.block { display: block !important;}
.none { display: none !important;}
.screen {background: #444;opacity: 0.8;position: fixed;width: 100%;height: auto;z-index: 2;display: none;}
.openPop {display: block !important; z-index: 1;}
.ellipsis { width: 250px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-left:5px;}

#rasmblyId_empty {float: left; position: relative; width: 300px; display: none;}
#rasmblyId_empty h1 {color: red !important; font-weight: bold;}


#chart_column_title {display: inline; width: 106px; color: white; position: absolute; right: 153px; top: 4%; z-index: 2}
#chart_column_title h1{font-size: 14pt; line-height: 13px;}

.default-button {background: #3d3d3d; border:1px solid #fff; border-radius: 2px; color: #fff; }
.edit-button { background: #3d3d3d; border:1px solid #fff; border-radius: 2px; width: 100px; height: 26px; color: white;}
.insert-button { background: #3d3d3d; border:1px solid #fff; border-radius: 2px; width: 100px; height: 26px; color: white;}
.excel-button { background: #3d3d3d; border:1px solid #fff; border-radius: 2px; width: 100px; height: 26px; color: white;}
.search-button { background: #3d3d3d; border:1px solid #fff; border-radius: 2px;width: 100px; height: 26px; color: white;}
/* 테이블 */
.table { width: 100%; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; table-layout: fixed; word-break: break-all; background: white;}
.table tr th { width: 100%; height: 38px; text-align: center; background: #3d3d3d; border-top: solid 1px #898989; border-bottom: solid 1px #898989; font-size: 10pt; line-height: 38px; padding-left: 10px;    border-left: none; color: #fff;}
.table tr td { border-right: none; border-bottom: solid 1px #898989; border-top: solid 1px #898989; padding-left: 10px; line-height: 35px; font-size: 9pt; text-align: center; }
.table tr:hover {background: yellow;}
.none-line-table { border: 0 none; width: 100%; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; table-layout: fixed;}
.none-line-table tr td { padding: 5px; border: 0px;}

/* 로그인 */
#login { float: right; margin-right: 1%; height: 30px;}
#login a { display: block; width: 100%; font-size: 16px; line-height: 30px; text-align: center;  color: #c9c4c4;}
#topBox { width: 100%; height: 60px; padding: 15px 0; background: #000;  position: relative;  z-index: 1;}

/* 메인화면 */
#containerMain { min-width: 1024px; max-width: 1900px; margin: 0 auto; min-height: 100%;}
#content { overflow: hidden;}

/* 사이드 왼쪽 */
#sideBar { width: 14%; height: auto; float: left; margin-left: 0.5%; margin-top: 1%; background: #3d3d3d; webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding-bottom: 20px;}

#sideBar .tab01 .sideBar_radioBox { margin-bottom: 15px; overflow: hidden; background: #3d3d3d;}
#sideBar .tab01 .sideBar_radioBox ul {padding: 7px 0 19px; overflow: hidden; border-bottom: solid 1px #64666a;}
#sideBar .tab01 .sideBar_radioBox ul li { float: left; padding: 8px 0 0; margin-left: 15px;}
#sideBar .tab01 .sideBar_radioBox ul li span { display: block; padding-left: 8px;}
#sideBar .tab01 .sideBar_radioBox ul li input { float: left;}
.sideBar_tabMenu { width: 100%; height: 60px;  margin-top: 10px;}
.sideBar_tabMenu ul { overflow: hidden;}
.sideBar_tabMenu ul li { float: left; width: 50%;}
.sideBar_tabMenu ul li a { text-align: center; display: block; line-height: 60px; font-size: 16px; color: #777; width: 100%; height: 100%;}
.sideBar_tabMenu ul li a:hover { color: #fff; width: 100%; height: 100%; }

/* 메인화면 오른쪽 레이아웃 박스 */
#rightBox { float: left; width: 85%; overflow: hidden; margin-left: 0.5%; margin-top: 1%;}

/* 메인화면 작게 나오는 error 팝업 */
#errorBox { position: absolute; top: 0; left: 0; width: 100%;}
#rightBox .errorPop { width: 100%; height: 40px; background: yellow; border-bottom: solid 1px #eee;}
#rightBox .errorPop .txtTitle { float: left; padding-left: 20px;}
#rightBox .errorPop .txtTitle a { color: red; font-size: 14px; line-height: 40px; float: left;}
#rightBox .errorPop .closeBtn { float: right;}
#rightBox .errorPop .closeBtn a { display: block; width: 50px; height: 40px; line-height: 40px; font-weight: bold; font-size: 14px;}

/* Agent 상태 목록 (PC모양) */
#rightBox .topBox { width: auto !important; height: 111px; border: solid 1px #898989 !important; margin-right: 10px !important; overflow-y: hidden; background: #000; position: relative;}
#rightBox .topBox h1 { color:white; position: absolute;top: 37px;right: 25px; cursor: pointer;}
#rightBox .topBox h1 img { width:30px; height:30px;}
#rightBox .topBox::-webkit-scrollbar { display: none;}
#rightBox .topBox { -ms-overflow-style: none;}
#rightBox .topBox .topNemo { overflow: hidden; width: auto; border-bottom: solid 1px #333;}
#rightBox .topBox .topNemo ul.list { width: 97%; overflow: hidden; margin: 20px 36px 0;}
#rightBox .topBox .topNemo ul.list li { float: left; width: 82px; height: 94px; margin-right: 5px;}
#rightBox .topBox .topNemo ul.list li a { display: block; width: 100%; height: 94px;}
#rightBox .topBox .topNemo ul.list li a span.listBox { display: block; width: 100%; height: 40px;}
#rightBox .topBox .topNemo ul.list li a span.listBox img { display: block; width: 32px; height: 31px; margin: 0 auto;}
#rightBox .topBox .topNemo ul.list li a span.listTxt { display: block;  width: 100%; text-align: center; line-height: 18px; font-size: 11px; font-family: "NotoSansCJKkrDemiLight"; color: #fff;}
#rightBox .topBox .topNemo ul.list li.lastArea a .listBox { text-align: center; line-height: 90px; font-size: 50px; color: #fff;}
#rightBox .topBox .bottomNemo { margin: 20px 36px 0; width: auto; overflow: hidden;}
#rightBox .topBox .bottomNemo ul.list { width: 97%; overflow: hidden;}
#rightBox .topBox .bottomNemo ul.list li { float: left; width: 82px; height: 94px; margin-right: 5px;}
#rightBox .topBox .bottomNemo ul.list li a { display: block; width: 100%; height: 100%;}
#rightBox .topBox .bottomNemo ul.list li a span.listBox { display: block; width: 100%; height: 40px;}
#rightBox .topBox .bottomNemo ul.list li a span.listBox img { display: block; width: 32px; height: 31px; margin: 0 auto;}
#rightBox .topBox .bottomNemo ul.list li a span.listTxt { display: block; width: 100%; text-align: center; line-height: 18px; font-size: 11px; font-family: "NotoSansCJKkrDemiLight"; color: #fff;}
#rightBox .topBox .bottomNemo ul.list li.lastArea a .listBox { text-align: center; line-height: 90px; font-size: 50px; color: #fff;}

/* 차트 영역 */
#rightBox .middleBox { width: 100%; margin-top: 20px; overflow: hidden;}
#rightBox .middleBox .fullBox { height: 46px; margin-bottom: 20px; width: 100%;}
#rightBox .middleBox .fullBox .fullSub { width: auto !important; height: 46px; border: solid 1px #898989 !important; margin-right: 10px !important; background: #000; cursor: pointer;   position: relative;}
#rightBox .middleBox .rightTopBox { float: left; width: 49%;}
#rightBox .middleBox .rightTopBox .leftTopBox { width: 100%; margin-bottom: 20px; position: relative;}
#rightBox .middleBox .rightTopBox .leftBottomBox { width: 100%; position: relative;}
#rightBox .middleBox .rightBottomBox { float: left; width: 49%; margin-left: 1%;}
#rightBox .middleBox .rightBottomBox .leftTopBox { position: relative; width: 100%; margin-bottom: 20px;}
#rightBox .middleBox .rightBottomBox .leftBottomBox { width: 100%; position: relative;}
#rightBox .bottomBox { position: relative; width: 100%; margin-top: 20px;}
.leftTopBox img {width: 30px; height: 30px;}
.bottomBox img {width: 30px; height: 30px; top:89%;}
.fullSub img#pipe-01{ position: absolute; top: 0; left: 690px;}
.fullSub img#pipe-02{ position: absolute; top: 0; left: 690px;}
.fullSub img#pipe-03{ position: absolute; top: 0; left: 690px;}

/* 네트워크 이미지(총알) */
#network-img { display: block;}
#network-img-1400 { display: none;}

/* 하이차트 */
#highcharts-11 { width: auto !important; border: solid 1px #898989 !important;}
#highcharts-8 { width: 100% !important;}
#highcharts-0 { width: 100% !important;}

/* 차트 레이아웃 영역 */
#chart_scatter { width: 100%; height: 300px; border: solid 1px #898989 !important; margin-right: 10px !important; background: #39393b;}
#chart_column { width: 100%; height: 300px; margin-right: 10px !important; border: solid 1px #898989 !important; background: #39393b;}
#chart_bar { width: 100%; height: 300px; margin-right: 10px !important; border: solid 1px #898989 !important;}
#chart_bar2{width:1261px; height: 295px;}
#chart_column2 { width: 99%; !important; border: solid 1px #898989; margin-right: 10px !important; height: 400px;}
#chart_spline { width: 100%; height: 300px; border: solid 1px #898989 !important; margin-right: 10px !important;}

.chart_loding { display: table; width: 100%; z-index: 4;}
.chart_loding i { color: white; display: table-cell; text-align: center; vertical-align: middle;}
.chart_loding img { position: absolute; top: 40%; left: 50%;}

.chart_column2_loding { display: table; width: 100%; z-index: 3}
.chart_column2_loding i { color: white; display: table-cell; text-align: center; vertical-align: middle;}
.chart_column2_loding img { position: absolute; top: 40%; left: 50%;}

.full_screen_loding {width: 100%; height: 100%; position: absolute; top: 232px; background: black; opacity: 0.9; z-index: 1; display:none;}
.full_screen_loding img { position: absolute; top: 40%; left: 50%;}

.BottomTable img { position: absolute; top: 40%; left: 50%; margin-left: -300px;}

/* 월별 데이터 항목 차트에 레젠드 */
.tran-legend { position: absolute; border: 1px solid gray; width: 185px; top:85%; height: 38px; left:40%; background: black;}
.tran-legend ul li { float:left; color:white; margin-left: 25px; margin-top:15px;}
.tran-legend ul li:nth-child(1) { margin-left: 9px;}
.tran-legend ul li:nth-child(1) i { color: #2b908f; background-color: #2b908f;}
.tran-legend ul li:nth-child(2) i { color: #90ee7e; background-color: #90ee7e;}
.tran-legend ul li:nth-child(3) i { color: #2772C3; background-color: #2772C3;}

/* 차트 버튼 위치 */
.button-chart-menu { -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; font-size: 12px; background-color: #38383a; color: white; border: none; text-align: center; text-decoration: none; display: inline-block; width: 125px !important; height: 38px;}
.button-chart-default { color: white; border: none; text-align: center; }
.btn-month-6 {top:2%; width:50px !important; height:30px; left:118px; border: none; background: #38383a; color: #999}
.btn-month-3 {top:2%; width:50px !important; height:30px; left:64px; border: none; background: #38383a; color: #999}
.btn-month-1 {top:2%; width:50px !important; height:30px; left:9px; border: 1px solid white;}
#chart_column_1 { width: 100%; position: absolute; height: 300px; z-index: 2; top: 0; opacity: 0.8; background: black;}
.button-position-absolute { position: absolute; z-index:1;}
.right {top: 85%; right: 25px;cursor: pointer;}
.left {top: 85%; left: 20px;cursor: pointer;}
.button-chart-column2-top-left {top: 89%;right: calc(100% - 50%);}
.button-chart-column2-top-right {top: 89%;left: calc(100% - 50%);}
.button-chart-column-top-left {top: 85%;right: calc(100% - 50%);}
.button-chart-column-top-right {top: 85%;left: calc(100% - 50%);}
.blink_me { animation: blinker 1s linear infinite;}
@keyframes blinker { 50% { opacity: 0; }}

/* 로그데이터 팝업 */
.logData { width: 1063px; height: 755px; border: solid 1px #fff; margin: 0 auto;  padding: 0 20px;  z-index: 9999; top: 30px; left: 10%; background: #383838; display: none; color:#fff;}
.logData .top { height: 50px; position: relative; padding-top: 20px; padding-left: 20px; padding-bottom: 10px;}
.logData .top h1 { color: #fff;}
.logData .top .closeBtn { position: absolute; top: 20px; right: 20px;}
.logData .top .closeBtn a { font-size: 20px; line-height: 20px; font-weight: bold; color: #fff;}
.logData .middle { height: 585px;}
.logData .middle .nemo01 { overflow: hidden;}
.logData .middle .nemo01 .box01 { border-right: dotted 1px #333; width: 350px;float: left;}
.logData .middle .nemo01 .box02 { padding-left: 10px;border-right: dotted 1px #333;float: left;width: 340px;}
.logData .middle .nemo01 .box03 { padding-left: 10px;float: left;width: 350px;}
.logData .middle .listBox01 { padding-bottom: 20px; overflow: hidden;}
.logData .middle h2 {background: #414141; color: #fff; font-size: 20px;line-height: 40px;float: left;width: 150px; height: 40px; text-align: center;}
.logData .middle p { padding-left: 10px; font-size: 12pt; line-height: 50px; float: left; width: 150px; height: 50px; text-align: left;}
.logData .middle .nemo02 { overflow: hidden;}
.logData .middle .nemo02 ul { margin-left: 60px;}
.logData .middle .nemo02 ul li { width: 300px; height: 200px; float: left; margin-right: 20px; border: solid 1px #000; line-height: 20px; text-align: center;}
.logData .middle .resultMessege p { padding-left: 0; font-size: 20px; line-height: 20px; float: none; width: 100%; height: 374px; text-align: left; overflow-y: hidden; overflow-x: visible;}
.resultMessege { margin-top: 54px; border: solid 1px #fff; min-height: 350px; padding: 10px; line-height: 25px; font-size: 18px;}
.logData .bottom { border-top: solid 1px #333;}
.logData .bottom span.btnSet { padding-top: 20px; width: 104px; height: 60px; display: block; margin: 0 auto;}
.logData .bottom span.btnSet span.leftBtn { display: block; margin-right: 10px; width: 100px; height: 50px; float: left;}
.logData .bottom span.btnSet a { display: block; float: left; width: 100px; height: 50px; line-height: 50px; font-size: 18px; text-align: center; border: solid 1px #fff; color:#fff;}
.logData_popup {z-index: 3;}
/* 서브 화면 */
#container #subRightBox { width: 98%; padding-top: 15px; padding-left: 15px; padding-right:15px; padding-bottom: 4.9em;}
#container #subRightBox .titleArea { position: relative; color:white;}
#container #subRightBox h2 { border-bottom: solid 1px #fff; padding-bottom: 10px; font-size: 30px; line-height: 30px; margin-bottom: 30px;}
#container #subRightBox .location { position: absolute; right: 0; top: 10px;}
#container #subRightBox .titleArea .location ul { overflow: hidden;}
#container #subRightBox .titleArea .location ul li { float: left; padding-right: 20px;}
#container #subRightBox .titleArea .location ul li.end { padding-right: 0;}
#container #subRightBox .titleArea .location ul li a { display: block; font-size: 12pt; line-height: 12px; color: #fff;}
#container #subRightBox .locationTitle { color: #fff; height: 38px; font-size: 20px; line-height: 38px;}

#subRightBox .BottomTable { margin-top: 10px; width: 100%; overflow: auto; overflow-y: hidden; text-align: center;}
#subRightBox .BottomTable .tab01Box { width: 100%; display: block; overflow-x: auto; overflow-y: hidden;}
#subRightBox .BottomTable .tab01Box table.listTable01 { border: 0 none; width: 100%; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;}
#subRightBox .BottomTable .tab01Box table.listTable01 tr th { height: 38px; font-size: 14px; line-height: 38px; width: 200px; border: solid 1px #898989; color: #fff; background: #3d3d3d url("../img/bg.gif") no-repeat center right; cursor: pointer;}
#subRightBox .BottomTable .tab01Box table.listTable01 tr td { height: 38px; border: solid 1px #898989; text-align: right; color: #fff; font-size: 13px;}
#subRightBox .BottomTable .tab01Box table.listTable01 tr td .count { margin: 0 5px;}
#subRightBox .BottomTable .tab01Box table.listTable01 tr td.tableTxtAlign { text-align: center;}

/* 페이징 처리 */
.pagination {display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;}
.pagination > li {display: inline; margin-right: 2px;}
.pagination > li > a, .pagination > li > span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #888;text-decoration: none;background-color: #383838;border: 1px solid #888;font-size: 9px; margin-right:4px;}
.pagination > li:first-child > a, .pagination > li:first-child > span {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {z-index: 2;color: #fff;background-color: #eee;border-color: #ddd;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {z-index: 3;color: #fff;    cursor: default;background-color: #383838;border-color: #fff;}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {    color: #fff;cursor: not-allowed;background-color: #fff;border-color: #ddd;}
.pagination-lg > li > a, .pagination-lg > li > span { padding: 10px 16px; font-size: 18px; line-height: 1.3333333;}
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span { border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span { border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.pagination-sm > li > a, .pagination-sm > li > span { padding: 5px 10px; font-size: 12px; line-height: 1.5;}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span { border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.pagination .active {border: none !important;}

/* 1280 X 760 팝업 */
.layer-pop-1280-760 {width: 1280px;height: 760px;padding:10px;border: solid 1px #fff;z-index: 3;background: #383838;display: none; opacity: 0.98; color: white;}
.layer-pop-1280-760 .top {height: 50px;position: relative;padding-top: 20px;padding-left: 20px;padding-bottom: 10px;}
.layer-pop-1280-760 .top h1 {float: left;padding-top: 10px;}
.layer-pop-1280-760 .top .closeBtn {position: absolute;top: 20px;right: 20px;}
.layer-pop-1280-760 .top .closeBtn a {font-size: 20px;line-height: 20px;font-weight: bold; color: #fff;}
.layer-pop-1280-760 table { border: 1px solid #656565; color: #fff; border: none;}
.layer-pop-1280-760 table tr th {background: #414141; color: #fff;}
.layer-pop-1280-760 table tr td {background: #383838; color: #fff; display: table-cell; text-align: left;}
.layer-pop-1280-760 table tr th:nth-child(1){width: 100px;}
.layer-pop-1280-760 textarea {width: 835px; border-radius: 2px; border: none; overflow: hidden;}
.layer-pop-1280-760 hr {border-style: dashed; color:#666;margin-top: 40px;}
.layer-pop-1280-760 .tab {background: #383838; color: #fff;}

/* 800 X 289 이동 팝업 */
.popup {position:fixed;right:0; bottom:0; z-index:4; width:800px; height:289px;background:#383838;float:right; display: none; color:#fff; border: 1px solid #fff;}
.popup .top { height: 16px; position: relative; padding-top: 20px; padding-left: 20px; padding-bottom: 10px;}
.popup nav { left: 300px; bottom: -12px; position: absolute;}
.popup .top .closeBtn { position: absolute;top: 11px; right: 20px;}
.popup .top .closeBtn a { font-size: 20px; line-height: 20px; font-weight: bold; color: #fff;}
.popup .middle { height: 220px; overflow-y: auto;}
.popup .middle table { border: 0 none; width: 100%; border-collapse: collapse; border-spacing: 0; padding: 0; margin: 0 auto;}
.popup .middle table tr th { background: #414141; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; border-right: solid 1px #ccc; font-size: 14px; line-height: 24px; width: 200px; border-left: none;}
.popup .middle table tr th.end { border-right: none;}
.popup .middle table tr td { border-right: none; text-align: center; line-height: 24px; border-bottom: solid 1px #ccc; border-right: solid 1px #ccc; background: #383838 !important;}
.popup .middle table tr td.end { border-right: none;}
.popup .middle table tr td input { width: 100%; height: 36px; line-height: 36px; border: 1px solid #ccc;}
.popup .middle tr td select { float: left; width: 150px; height: 36px; border: 1px solid #ccc; font-size: 12px; margin-right: 4px; color: #333; line-height: 18px; padding: 3px 4px;}
.popup .bottom { border-top: solid 1px #333; padding-top: 2px;}
.popup .bottom a { display: block; margin: 15px auto 0; width: 100px; height: 50px; line-height: 50px; font-size: 18px; text-align: center; border: solid 1px #666;}
.popup .bottom label {color: #fff;}

/* 작은 팝업 */
.q-popup-layout {border: solid 1px #eee; display: none; width: 300px; height: 100px; background: #fff; position: absolute; top: 50%; left: 50%; margin-top: -50px; margin-left: -150px;}
.q-popup-layout p {text-align: center; color: #000; padding: 20px;}
.q-popup-layout .btnSet {width: 100%; margin-left: 15%;}
.q-popup-layout .btnSet a {float: left; display: block; width: 100px; height: 30px; color: #fff; background: #000; line-height: 30px; text-align: center; margin-right: 10px;
}

/* Agent 상태서버정보 팝업 */
#tpl-agent-server-state-info-list .middle {height:650px; overflow-y:scroll;}

/* Agent 서버정보 팝업 */
.agentServerInfo table th { background: #f9f9f9; color: black;}
.agentServerInfo .none-line-table button { height: 50px; background: #3d3d3d; border: 1px solid white; color: white; font-size: 12pt;}
/*.agentServerInfo .none-line-table button:hover { height: 50px; background: rgb(255, 100, 69); border: 1px solid rgb(255, 100, 69); color: white;}*/
.agent-server-info-memo { width: 100%;  height: 100%;  padding-top: 5px;}
.agent-server-info-memo .left { width: 80%; float: left;}
.agent-server-info-memo .right { width: 11%; float: right; padding-bottom: 5px;}
.agent-server-info-memo .right button { height: 77px; background: #3d3d3d; border: 1px solid white; color: white; font-size: 12pt;}
/*.agent-server-info-memo .right button:hover { height: 77px; background: rgb(255, 100, 69); border: 1px solid rgb(255, 100, 69); color: white;}*/


#agent_server_info_popup .tab {width: 99%; height: auto; overflow: hidden; background: #383838; margin-left: 5px;}
#agent_server_info_popup .tab ul.tab_menu {width: 100%; height: auto;}
#agent_server_info_popup .tab ul.tab_menu li {width: 49.6%; float: left; list-style: none; background: #383838 !important; margin-bottom: 18px;}
#agent_server_info_popup .tab ul li:nth-child(1) button {width: 100%; height: 50px; background: #383838; color: #fff; border:none; font-size: 15pt;}
#agent_server_info_popup .tab ul li:nth-child(2) button {width: 102%; height: 50px; background: #383838; color: #fff; border:none; font-size: 15pt;}
#agent_server_info_popup nav {text-align: center;}
#agent_server_info_popup .menu-tab-left {border-bottom:4px solid white; padding: 5px; position: absolute; left: 275px; top:35px; width: 70px;}
#agent_server_info_popup .menu-tab-right {border-bottom:4px solid white; padding: 5px; position: absolute; right: 277px; top:35px; width: 70px;}

#agent_server_info_popup .tab .tab-box-1 {background: #383838; height: 276px; margin-top: 49px; border: 1px solid #333; border-top: none; overflow: auto; width:100%;}
#agent_server_info_popup .tab .tab-box-1 .line {margin-bottom: 5px;}
#agent_server_info_popup .tab .tab-box-1 table { width: 1000px; height: auto; margin-left: 100px; border: none;}
#agent_server_info_popup .tab .tab-box-1 table th { background: #414141; text-align: center; height: 39px; width:100px; color:#fff;}
#agent_server_info_popup .tab .tab-box-1 table td { background: #383838; color: #fff; text-align: center; height: 39px;}

#agent_server_info_popup .tab .tab-box-2 {display: none; height: 276px; margin-top: 49px; background: #383838;}
#agent_server_info_popup .tab .tab-box-2 #chart_bar2 { border: 3px solid gray;}
#agent_server_info_popup .tab .tab-box-2 .line {margin-bottom: 5px;}
#agent_server_info_popup .tab .tab-box-2 {height: 309px; margin-top:65px;}

/* 공통 탭 */
.common-tab { width: 100%; height: 50px; margin-bottom: 5px;}
.common-tab-2 { width: 100%; height: 50px; margin-bottom: 5px;}
.common-tab-3 { width: 100%; height: 50px; margin-bottom: 5px;}
.common-tab ul li { display: table; float: left; cursor: pointer; border-radius: 2px; background: none; height: 100%; margin-right: 2px;}
.common-tab ul li.end { margin-right: 3px;}
.common-tab li a { display: table-cell; color: #999; text-align: center; vertical-align: middle; font-size: 13pt;}
.common-tab-2 li { width: 49.7%;}
.common-tab-3 li { width: 33.1%;}
/* 검색조건 */
.common-search-table { width: 100%; table-layout: fixed; background: white;}
.common-search-table tr th {width: 10%;height: 40px;font-weight: bold;background: #3d3d3d;border: none;color: white;}

.common-search-table tr td { width: 70%; background: #3d3d3d; border: none; color: white;}
.common-search-table img {width: 24px; position: relative; top:5px; height: 21px;}
/* select 박스 레이아웃 */
.selectBox select { float: left; margin-right: 5px;}

/* laout 통합 */
.lw-100 { margin-right: 5px; width: 100%; }

.fl-mr-5 { float: left; margin-right: 5px; }
.fr-mr-5 { float: right; margin-right: 5px; }

/* 가로테이블(상세화면 같은거 */
.common-table-h { table-layout: fixed; width: 100%; background: white; color: black; padding: 1em;}
.common-table-h tr th { background: #f9f9f9; width: 10%; height: 40px; text-align: left;  padding-left: 20px;}
.common-table-h tr td { background: white; width: 90%;}
.common-table-h tr td * { float: left; margin-right: 5px; margin-left: 5px;}

/* 연계API서버 업데이트 팝업 */
.agent-update-layer-popup { width: 600px; height: 300px; background: white;
    display: none;
    z-index: 4;
    position: absolute;
    left: 379px;
    top: 235px;
    border: 1px solid black;
}
.agent-update-layer-popup .header {
    width:100%;
    height:50px;
}
.agent-update-layer-popup .header span {
    background: slategrey;
    float: right;
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.agent-update-layer-popup .header span:after {
    content: "X";
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
}
.agent-update-layer-popup .content {
    width: 70%;
    height: 50px;
    padding: 1em;
    margin: 0 auto;
}
.agent-update-layer-popup .content h1{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    text-align: left;
    color: black;
}

.agent-update-layer-popup .content hr{
    width: 100%;
    margin-bottom: 30px;

}

.agent-update-layer-popup .content .inner div {
    width: 100%;
    line-height: 30px;
    clear: both;
}

.agent-update-layer-popup .content .inner div span{
    margin-left: 15px;
    float: left;
    color: black;
}

.agent-update-layer-popup .content .inner input{
    width: 340px;
}

.agent-update-layer-popup .content .inner button{
    border-radius: 2px;
    width: 60px;
    height: 30px;
}

.agent-update-layer-popup .content .inner button:nth-child(1){
    background: #4585f4;
    color: white;
}

.agent-update-layer-popup .content .inner button:nth-child(2){
    background: #dd5351;
    color: white;
}

.agent-update-layer-popup .content .inner div:last-child span{
    margin-left: 15px;
    float: right;
}

.outer {
    width: 100%;
    display: table;
}

.inner {
    width: 100%;
    display: table-cell;
    text-align: center;
}

.w-1700 {
    width: 1700px;
}

.overflow-auto {overflow: auto;}

.log-row {cursor: pointer;}

#log_button_flag {float: left;margin-left: 10px;margin-top: -4px;}
#log_button_flag .edit-button{height: 40px;border-color: #90ee7e;color: #90ee7e;}

.calendar01 input {width: 80px;}
.calendarBtn {margin-left: 5px;}

.error-button {text-align: left;}
.error-button button {width: 150px; height: 50px; float: left; margin-right:5px;}

.chart_column2_screen {position: absolute; top:0; width: 100%; height: 403px; background: black; z-index: 2; opacity: 0.9; display: none;}

@media only screen and (min-width:968px) and (max-width:1900px) {
    .main-search-button { width: 144px; height: 35px; background: #777; color: #fff; border: none;}
    #chart_column_title {display: inline; width: 106px; color: white; position: absolute; right: -60px; top: 4%; z-index: 2}
    #chart_column_title h1{font-size: 10pt; line-height: 13px;}
    tspan { font-size: 10pt;}
    #sideBar { width: 16%; }
    #rightBox { width: 83%; }
}

.btn-enabled {background : #3d3d3d; border: 1px solid white; color: #fff;}
.btn-disabled {background : rgb(56, 56, 58); border: none; color: rgb(153, 153, 153);}